@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	margin: 0px;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
}

header {
	background-color: #d7d7d7;
}

main {
	flex: 1;
}

#logo {
	height: 100px;
}

h1 {
	font-weight: bold;
	font-size: 24pt;
}

p {
	font-weight: normal;
	font-size: 14pt;
}

div {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.solid {
	color: #ffffff;
	padding: ;

	height: 40px;

	background-color: #6416a0;
	background-image: url('top-left-solid.svg'), url('bottom-right-solid.svg');
	background-position: top 0 left 0, bottom 0 right 0;
	background-repeat: no-repeat;
}

.solid:hover {
	color: #6416a0;

	background-color: #ffffff;
	border: #6416a0 2px solid;
	background-image: url('top-left-solid.svg'), url('bottom-right-solid.svg');
	background-position: top 0 left 0, bottom 0 right 0;
	background-repeat: no-repeat;
}

.fill-height {
	height: 100%;
}

.center {
	align-items: center;
}

.spaced * {
	margin-top: 40px;
}