@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	margin: 0px;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12pt;
}

header {
	background-color: #d7d7d7;
}

main {
	flex: 1;
}

#logo {
	height: 84px;
}

h1 {
	font-weight: bold;
	font-size: 24pt;
}

p {
	font-weight: normal;
}

div {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.solid {
	color: #ffffff;
	padding: 0px 20px;

	border: 10px solid;
	border-image: url('button/solid.svg') 11 fill;
}

.solid:hover {
	color: #6416a0;

	border-image: url('button/solid-hover.svg') 11 fill;
}

.fill-height {
	height: 100%;
}

.center {
	align-items: center;
}

.spaced * {
	margin-top: 40px;
}